.button_menu {
  z-index: 90;
  gap: 12px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  position: fixed;
  bottom: 32px;
  /* border: 1px solid red; */
  right: 32px;
  /* width: 100px;
  height: 100px;
  background-color: aqua; */
}
.buttons {
  gap: 16px;
  gap: 16px;
  flex-wrap: wrap;
  display: flex;
  /*  */
  gap: 12px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  position: fixed;
  padding-bottom: 68px;
}
.buttons a {
  text-decoration: none;
  list-style: none;
  color: black;
}
.button_menu_trigger {
  width: 56px;
  height: 56px;
  color: #fff;
  cursor: pointer;
  background-color: #424a4d;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 16px;
  transition: background-color 0.25s ease-in-out;
  display: flex;
}
.button_menu_trigger:hover {
  background-color: rgba(66, 74, 77, 0.8);
}
.button_menu_button {
  width: 56px;
  height: 56px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #eef1f1;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 16px;
  transition: background-color 0.25s ease-in-out;
  display: flex;
  /* border: 1px solid red; */
}
.w-inline-block {
  max-width: 100%;
  /* display: inline-block; */
}
.button_icon {
  justify-content: center;
  align-items: center;
  display: flex;
}
.butt_icon {
}
/* .butt_icon:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
  clear: both;
}
.butt_icon:before {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
} */

.button_menu_button:hover {
  background-color: rgb(56, 149, 230);
}
.button_menu_button:hover svg {
  fill: white;
}
.button_menu_button:hover .button_menu_tooltip {
  opacity: 1;
  pointer-events: auto;
}
.button_menu_tooltip {
  color: #fff;
  white-space: nowrap;
  background-color: #424a4d;
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 14px;
  /* transition: opacity 0.25s ease-in-out; */
  position: absolute;
  right: 68px;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
  cursor: pointer;
}
.txt {
  pointer-events: none;
}
.button_menu_tooltip_arrow {
  flex-direction: row;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: -6px;
}

/* Hide the .buttons container initially */
.hidden {
  display: none;
}

/* Transition effect for showing the .buttons container */
.buttons {
  transition:
    opacity 0.4s,
    visibility 0.4s;
  opacity: 0;
  visibility: hidden;
}

/* When .buttons container is active */
.buttons.active {
  opacity: 1;
  visibility: visible;
  display: flex;
}
