.cookies_wrapper {
  z-index: 90;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: auto;
  bottom: 66px;
  left: 0;
  right: 0;
}
.cookies_block {
  width: 90%;
  max-width: 700px;
  grid-column-gap: 24px;
  background-color: #fff;
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
  font-size: 12px;
  display: flex;
  box-shadow: 0 36px 40px -15px rgba(12, 43, 67, 0.07);
}
.icon {
  justify-content: center;
  align-items: center;
  display: flex;
}
.arrow_link {
  max-width: 100%;
  grid-column-gap: 6px;
  color: #182cc0;
  text-transform: uppercase;
  flex: none;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
  display: flex;
}
.button_icon {
  z-index: 2;
  justify-content: center;
  align-items: center;
  transition: transform 0.6s ease-in-out;
  display: flex;
  position: relative;
}
.button_text {
  z-index: 2;
  margin-top: 2px;
  transition: transform 0.6s ease-out;
  position: relative;
}
