.section_get_app {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 60px;
}
.get_app_wrapper {
  position: relative;
  background-color: #fff;
}
.get_app_container {
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
.get_app_inner {
  min-height: 374px;
  justify-content: flex-start;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  position: relative;
}
.get_app_content {
  width: 55%;
  grid-row-gap: 16px;
  flex-direction: column;
  flex: none;
  align-items: flex-start;
  display: flex;
}
.get_app_content h2 {
  color: #141719;
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
}
.get_app_content p {
  color: #555f62;
  background-color: #f9fafa;
  font-family: TBCX, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}
.get_app_buttons {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-wrap: wrap;
  margin-top: 8px;
  display: flex;
}
.app_button {
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #e1e4e5;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  text-decoration: none;
  transition: background-position 0.25s ease-in-out;
  display: flex;
  max-width: 100%;
}
.app_button_mobile {
  grid-column-gap: 4px;
  color: #182cc0;
  text-transform: uppercase;
  border: 1px solid #182cc0;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  text-decoration: none;
  transition: background-position 0.25s ease-in-out;
  display: none;
  max-width: 100%;
}

.app_button_mobile:hover {
  background-color: #f9fafa;
}
.get_app_img {
  max-height: 90%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 100% 100%;
  object-position: 100% 100%;
  align-self: flex-end;
  position: absolute;
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
  height: auto;
  max-width: 100%;
  display: inline-block;
}
@media (max-width: 480px) {
  .get_app_content h2 {
    font-size: 15px;
  }
}
@media acreen and(min-width:481px) and (max-width: 767px) {
  .get_app_content h2 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  /* .get_app_content h2 {
    font-size: 15px;
  } */
  /* .section_get_app {
    margin-top: 300px;
  } */
  /* .section_get_app {
    padding-top: 40px;
    padding-bottom: 40px;
  } */
  .get_app_inner {
    min-height: 0;
    flex-direction: column;
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .app_button {
    display: none;
    flex: 1;
  }
  .app_button_mobile {
    display: flex;
    flex: 1;
  }
  .get_app_content {
    width: 100%;
    grid-row-gap: 28px;
  }
  .get_app_buttons {
    width: 100%;
    margin-top: -4px;
  }
  .get_app_img {
    max-height: none;
    align-self: self-start;
    position: static;
  }
  .get_app_wrapper {
    background-color: #f9fafa;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .section_get_app {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .get_app_inner {
    min-height: 300px;
  }
  .app_button {
    display: none;
  }
  .app_button_mobile {
    display: flex;
  }
  .get_app_wrapper {
    background-color: #f9fafa;
  }
}
