footer {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer_top_part {
  width: 100%;
}
.web_mobile_footer {
  display: none;
}
.footer_logo_lang {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_logo_lang_cont_web {
  width: 100%;
  max-width: 1110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.choose_languagee {
  border-radius: 4px;
  padding-left: 8px;
  font-weight: 700;
  color: #555f62;
  position: relative;
  display: flex;
  align-items: center;
}
.choose_languagee:hover {
  background-color: #f1f1f1;

  transition: 0.3s;
}
.choose_languagee:hover .lang_en {
  display: block;
}
.footer_logo_lang_cont {
  width: 100%;
  padding: 0 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.web_footer_links {
  width: 100%;
  display: flex;
  padding: 0 47px;
  justify-content: center;
  align-items: center;
}
.center {
  display: flex;
  width: 100%;
  max-width: 1110px;
  margin-top: 40px;
  display: flex;
  gap: 76px;
}
.links_item {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px 30px 20px 0px;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.item p {
  color: #555f62;
}
.cont_links_item {
  padding-top: 34px;
}
.cont_links_item a p {
  color: #555f62;
}

.web_mob_footer_logo {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 30px;
  background-color: #f9fafa;
  border-top: 1px solid #eef1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex_footer_container {
  width: 100%;
  max-width: 1110px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
.footer_top {
  background-color: #fff;
  padding-top: 45px;
  padding-bottom: 50px;
}
.footer_containerr {
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
.footer_top_inner {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.footer_logo_link {
  width: 165px;
  color: #141719;
  max-width: 100%;
  display: inline-block;
}
.footer_logo {
  align-items: center;
  display: flex;
}
.is_mobile {
  display: none;
}
.lang_dropdown {
  z-index: 5;
  border-radius: 4px;
  position: relative;
}
.lang_toggle {
  height: 36px;
  grid-column-gap: 4px;
  cursor: pointer;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 700;
  transition: background-color 0.25s ease-in-out;
  display: flex;
}
.lang_icon {
  justify-content: center;
  align-items: center;
  display: flex;
}
.lang_list_wrapper {
  grid-row-gap: 8px;
  flex-direction: column;
  padding-top: 4px;
  display: none;
  position: absolute;
  top: 36px;
  bottom: auto;
  left: 0;
  right: 0;
}
.lang_dropdown:hover .lang_list_wrapper {
  display: flex;
  transition: 1s;
}
.lang_dropdown:hover {
  background-color: #e1e4e5;
}
.lang_list {
  color: #141719;
  background-color: #fff;
  border: 1px solid #e1e4e5;
  border-radius: 4px;
  flex-direction: column;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px 2px rgba(12, 43, 67, 0.05);
}
.lang_list-item {
  text-align: center;
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: background-color 0.25s ease-in-out;
}

/* footer main styles */
.footer_main {
  background-color: #fff;
  padding-bottom: 45px;
}
.footer_main_container {
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
.footer_main_inner {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .web_mobile_footer {
    display: none;
  }
}
@media (max-width: 480px) {
  .web_footer_links {
    display: none;
  }
  .web_mobile_footer {
    display: block;
  }
  .web_mobile_footer {
    width: 100%;
  }
  .web_mob_footer_logo {
    display: none;
  }
  .footer_logo_lang_cont_web {
    padding: 0;
    padding-bottom: 25px;
  }
  .footer_logo_lang_cont {
    padding: 0 15px;
  }
  /* .footer_top_part {
    margin-top: 200px;
  } */
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .web_mobile_footer {
    display: block;
  }
  .web_footer_links {
    display: none;
  }
  .web_mobile_footer {
    width: 100%;
  }
  .web_footer_links {
    gap: 10px;
    display: none;
  }
  .web_mob_footer_logo {
    display: none;
  }

  .footer_logo_lang_cont_web {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer_top_part {
    padding-left: 45px;
    padding-right: 45px;
  }
  .web_mob_footer_logo {
    padding-left: 45px;
    padding-right: 45px;
  }
  .web_footer_links {
    gap: 0px;
    padding: 0;
  }
  .center {
    gap: 20px;
  }
  .footer_logo_lang_cont {
    padding: 0;
  }
}
