.sec_one {
  /* border: 1px solid red; */
  width: 100%;
  height: 365px;
  /* padding-top: 32px; */
  /* padding-bottom: 60px; */
}
/* .img_sec {
  border: 1px solid red;
  padding-left: 47px;
  padding-right: 47px;
} */
.img_cont {
  /* border: 1px solid green; */
  width: 100%;
  min-height: 360px;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../assets/images/mainimage.webp");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
}
.img_text {
  /* border: 1px solid red; */
  min-height: 360px;
  display: flex;
  padding: 80px;
}
.img_text_contt {
  max-width: 450px;
  /* border: 1px solid rgb(89, 255, 0); */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.img_text_contt h3 {
  font-size: 28px;
  font-weight: 700;
}
.img_text_contt p {
  font-size: 14px;
  font-family: TBCX, sans-serif;
  font-weight: 400;
  line-height: 1.7;
}
.img_text_contt button {
  background-image: linear-gradient(15deg, #001682, #3240e5);
  display: flex;
  gap: 6px;
  color: #fff;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  width: 150px;
  height: 55px;
  border: none;
}
.img_text_contt button:hover {
  background-image: linear-gradient(15deg, #3295ce, #3295ce);
  transition: 2s;
}
@media (max-width: 480px) {
  .img_cont {
    position: absolute;
    left: 0;
    padding: 0;
  }
  /* .img_text_contt {
    border: 2px solid red;
    max-width: 100%;
    display: flex;
    align-items: stretch;
  } */
  .img_text {
    /* border: 3px solid red; */
    padding: 150px 20px 10px 20px;
  }
  .img_text_contt button {
    width: 100%;
  }
  .sec_one {
    /* border: 3px solid red; */
    /* margin-bottom: 0px; */
    /* padding-bottom: 10px; */
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .img_sec {
    width: 100%;
    /* border: 3px solid red; */
  }
  /* .img_text_contt {
    border: 1px solid green;
  } */
  .img_cont {
    position: absolute;
    /* z-index: 1000000; */
    /* position: absolute; */
    /* border: 2px solid red; */
    left: 0;
    right: 0;
    /* margin-: 100px; */
    /* z-index: 1111111; */
    /* margin-bottom: 10px; */
    /* bottom: 0; */
    padding: 100px 20px 36px 20px;
  }
  .img_text_contt button {
    width: 100%;
  }
  .img_text_contt {
    /* border: 1px solid red; */
    max-width: 100%;
  }
  .img_text {
    /* border: 1px solid green; */
    padding: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: end;
  }
  .sec_one {
    height: 500px;
    /* margin-bottom: 100px; */
  }
}
