@font-face {
  font-family: "tbc-font";
  src: url("../assets/fonts/tbc-font.woff2") format("woff2"),
    url("../assets/fonts/tbc-font.woff") format("woff");
}

@font-face {
  font-family: "tbc-font-bold";
  src: url("../assets/fonts/tbc-font-bold.woff2") format("woff2"),
    url("../assets/fonts/tbc-font-bold.woff") format("woff");
}

@font-face {
  font-family: "tbc-font-semi-bold";
  src: url("../assets/fonts/tbc-font-semi-bold.woff2") format("woff2"),
    url("../assets/fonts/tbc-font-semi-bold.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: "tbc-font", sans-serif;
  /* font-weight: 400; */
}
main {
  background-color: #f7f8f8;

  /* border-bottom: 1px solid #eef1f1; */
}
