@font-face {
  font-family: "tbc-font";
  src: url("../assets/fonts/tbc-font.woff2") format("woff2"),
    url("../assets/fonts/tbc-font.woff") format("woff");
}

@font-face {
  font-family: "tbc-font-bold";
  src: url("../assets/fonts/tbc-font-bold.woff2") format("woff2"),
    url("../assets/fonts/tbc-font-bold.woff") format("woff");
}

@font-face {
  font-family: "tbc-font-semi-bold";
  src: url("../assets/fonts/tbc-font-semi-bold.woff2") format("woff2"),
    url("../assets/fonts/tbc-font-semi-bold.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: "tbc-font", sans-serif;
  /* overflow: hidden; */
}
main {
  width: 100%;
  padding: 0 47px 0 47px;
  background-color: #f7f8f8;
  border-bottom: 1px solid #eef1f1;
  /* border: 1px solid red; */
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: sticky; */
  /* position: relative;
  min-height: calc(100vh - 80px); */
  /* gap: 100px; */
}
.main_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
}
/* main mtavari text */
.main_top {
  width: 100%;
  /* border: 1px solid rgb(4, 255, 0); */
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_top_main {
  width: 100%;
  justify-content: center;
}
.main_cont {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}
.main_txt {
  max-width: 1110px;
  /* border: 1px solid red; */
  grid-column-gap: 4px;
  color: #555f62;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  font-size: 12px;
  display: flex;
  overflow: hidden;
}
.main_txt span {
  font-size: 12px;
  text-decoration: none;
  color: #141719;
  font-weight: 500;
  display: flex;
}
.main_txt .arrow {
  width: 13px;
  font-size: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  display: none;
}
.main_text_section {
  width: 100%;
}
.main_text {
  /* border: 1px solid green; */
  margin: 24px 0 24px 0;
  display: flex;
}
.main_text span {
  width: 13px;
  font-size: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  display: none;
  /* border: 1px solid red; */
}
.main_text a {
  font-size: 12px;
  text-decoration: none;
  color: #141719;
  font-weight: 500;
}

/* main images styles */
.main_image_section {
  border: 1px solid red;
  width: 100%;
  min-height: 360px;
  background-image: url("../assets/images/mainimage.webp");
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
  margin: 32px 0 60px 0;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
}
.main_image_home {
  border: 1px solid blue;
}
.image_inside_context {
  /* border: 1px solid red; */
  max-width: 450px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  color: #fff;
  gap: 20px;
}
.image_inside_context h3 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
}
.image_inside_context p {
  font-family: TBCX, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}
.image_inside_context button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-image: linear-gradient(15deg, #001682, #3240e5);
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  padding: 16px 24px;
  border: none;
  transition: opacity 0.25s ease-in-out;
}
.image_inside_context button:hover {
  background-image: linear-gradient(15deg, #4da3b6, #4da3b6);
  transition: 1.5s;
}

/* second image section */
.sec_image_section {
  background-image: url("../assets/images/mainimage1.png");
}

@media (max-width: 480px) {
  main {
    padding-left: 15px;
    /* padding-right: 15px; */
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  main {
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  main {
    padding-left: 40px;
    padding-right: 40px;
  }
}
